<%-include('header')-%>
<div class="text-center center center-div mt-5 dashboard" id="login">
    <div class="container">
<h3> Welcome to the application dashboard</h3>
<h5>Successfull </h5>
<a href="/route/logout">Logout</a>
</div>
</div>
<%- include('footer') -%>